// Список auto-shift мод-морфов для всех букв/цифр.
#if ENABLE_AUTOSHIFT
MOD_MORPH_AS(Q)
MOD_MORPH_AS(W)
MOD_MORPH_AS(E)
MOD_MORPH_AS(R)
MOD_MORPH_AS(T)
MOD_MORPH_AS(Y)
MOD_MORPH_AS(U)
MOD_MORPH_AS(I)
MOD_MORPH_AS(O)
MOD_MORPH_AS(P)
MOD_MORPH_AS(G)
MOD_MORPH_AS(H)
MOD_MORPH_AS(Z)
MOD_MORPH_AS(X)
MOD_MORPH_AS(C)
MOD_MORPH_AS(V)
MOD_MORPH_AS(B)
MOD_MORPH_AS(N)
MOD_MORPH_AS(M)
MOD_MORPH_AS(N0)
MOD_MORPH_AS(N1)
MOD_MORPH_AS(N2)
MOD_MORPH_AS(N3)
MOD_MORPH_AS(N4)
MOD_MORPH_AS(N5)
MOD_MORPH_AS(N6)
MOD_MORPH_AS(N7)
MOD_MORPH_AS(N8)
MOD_MORPH_AS(N9)
MOD_MORPH_AS(EQUAL)
MOD_MORPH_AS(MINUS)
MOD_MORPH_AS(SQT)
MOD_MORPH_AS(COMMA)
MOD_MORPH_AS(DOT)
MOD_MORPH_AS(FSLH)
MOD_MORPH_AS(BSLH)
MOD_MORPH_AS(LBKT)
MOD_MORPH_AS(RBKT)
#endif
